@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Heebo:wght@300;400;500&display=swap');

/* C O L O R S   &   T Y P O G R A P H Y*/
:root {
    --secondary-color: #A9B8E4;
    --primary-color: #2a4f9e;
    --accent1-color: #3d2d08;
    --accent2-color: #D6A319;
    --body-font-color: rgb(30, 30, 30);

    --heading-font: "Calistoga", Verdana, sans-serif;
    --paragraph-font: "Heebo", sans-serif;
    --navigation-background-color: #89857a;
    --navigation-hover-background-color: #cbccbd;
    --navigation-link-color: var(--accent1-color);
    --navigation-hover-link-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-variant-caps: all-small-caps;
    letter-spacing: 1px;
    font-size: 1.7rem;

    color: var(--primary-color);
}

h1 {
    color: var(--accent1-color);
}

body {
    font-family: var(--paragraph-font);
    color: var(--body-font-color);

    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HERO IMAGE */
img[src="images/about-us_hero-image.jpg"] {
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
    object-position: center bottom 30px;
    object-fit: cover;
}

img[src="images/about-us_smiling-woman.jpg"] {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.overlay {
    position: absolute;  
    top: 55%; 
    left: 50%;
    transform: translate(-50%, -50%);
   }

.hero h1 {
    color: var(--secondary-color);
    position: absolute;
    top: 35%;
    right: 40%;
    }

.overlay img {
    float: right;
    padding-left: 8px;
}

.overlay p {
    color: white;
    font-size: 10px;
}

.social-media-links a {
    text-decoration: none;
}

/* B L O C K */
header {
    display: grid;
    grid-template-columns: 120px 1fr;
    background-color: var(--navigation-background-color);
    padding: 0 8px;
    margin-bottom: 16px;
    border-bottom: var(--accent1-color) solid 1px;
}

header img {
    width: 100px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
}

nav a {
    margin: 0 16px;
    padding: 4px 8px;
    text-decoration: none;
    color: var(--navigation-link-color);
    font-weight: 500;
}

nav a:hover {
    background-color: var(--navigation-hover-link-color);
    border-radius: 8px;
}


h2, .history {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.normal-footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.wireframe {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.wireframe img {
    width: 50%;
}

.social-media-links {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    width: 80px;
}

/* CONTACT PAGE */
.contact {
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 36px;
    font-weight: 300;
}

.employee {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.employee .smiling-employee {
    margin: 16px 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.employee .smiling-employee img {
    border-radius: 50%;
    align-self: center;
}

.employee .smiling-employee p {
    font-size: 12px;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contact-info .box .icon {
    min-width: 40px;
    height: 40px;
    display: flex;
    background-color: var(--accent2-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container .contact-info .box .text {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.container .contact-info .box .text h3 {
    font-size: 24px;
}

.container .contact-info .embedded {
    margin-left: 60px;
}

.contact-form {
    width: 50%;
    padding: 40px;
    background-color: #dde2f2;
    border-radius: 16px;
}

.contact-form h2 {
    font-size: 32px;
    font-weight: 300;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box label,
.contact-form .radio-button p {
    width: 100%;
    padding: 5px 0;
    font-weight: 500;
    font-size: 16px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    font-size: 16px;
    padding: 4px 8px;
    width: 100%;
    margin: 4px 0;
    font-size: 16px;
    resize: none;
}

.contact-form .input-button button {
    padding: 8px 16px;
    margin: 16px 0;
    font-size: 16px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 4px;
    border: none;
}

.contact-form .input-button button:hover {
    background-color: var(--secondary-color);
}

/* TRIPS PAGE */

.top-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -16px;
}

.top-section .hero-banner {
    width: 1160px;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-section .hero-banner img {
    align-self: center;
}

.top-section h1 {
    font-size: 48px;
    margin-top: 16px;
    font-weight: 300;
}

.top-section .horiz-trips {
    margin-top: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
}

.top-section .horiz-trips .quick-trips {
    width: 324px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-section .horiz-trips .quick-trips .information {
    margin-bottom: 16px;
}

.top-section .horiz-trips .quick-trips .information .river-picture {
    width: 275px;
    height: 275px;
    overflow: hidden;
    margin-bottom: 16px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.top-section .horiz-trips .quick-trips button {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    font-weight: 200;
}

.top-section .horiz-trips .quick-trips button:hover {
    background-color: var(--secondary-color);
}

.information-table {
    margin: 112px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table table {
    border-collapse: collapse;
    font-size: 12px;
    min-width: 800px;
}

.table table h2 {
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 200;
    text-align: center;
    margin-bottom: -10px;
}

.table table .top {
    background-color: var(--secondary-color);
}

.table table th {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.table table th,
.table table td {
    padding: 12px 15px;
}

.table table tr {
    border-bottom: 1px solid rgb(196, 196, 196);
}

.information-table .button {
    background-color: #2a4f9e;
    color: #fff;
    font-size: 16px;
    padding: 16px 425px;
    border: none;
    margin-top: 16px;
    text-decoration: none;
}

.information-table .button:hover {
    background-color: #A9B8E4;
}
