nav {
    background-color: rgb(52, 72, 88);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: rgb(105, 82, 71);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(105, 82, 71);
    padding: 2px;
    box-shadow: 0 0 10px rgb(199, 199, 199);
}

main {
    max-width: 1300px;
}

p {
    padding: 0px;
}


aside {
    width: 500px;
    margin: 0;
    border: 0px;
    padding: 10px;
    box-shadow: none;
    color: rgb(234, 234, 234);
    background-color: rgb(105, 82, 71);
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: none;
}

footer {
    margin: 20px 0 0 0;
    border-top: 1px solid black;
    text-align: center;
}