* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(52, 72, 88);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: rgb(105, 82, 71);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(105, 82, 71);
    padding: 2px;
    box-shadow: 0 0 10px rgb(199, 199, 199);
    float: right;
}

main {
    max-width: 1300px;
}

p {
    padding: 0px;
}

aside {
    position: relative;
    width: 500px;
    box-shadow: none;
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: none;
}

aside h2 {
    position: absolute;
    left: 70px;
    color: rgb(22, 62, 12);
}

footer {
    margin: 20px 0 0 0;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selection */

.box {
    border: 1px solid black;    
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(105, 82, 71);
    text-decoration: none !important;
    color: rgb(234, 234, 234);
}


