* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(52, 72, 88);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    display: block;
    padding: 8px;
    text-decoration: none;
    font-weight: 700;
    
}

h1 {
    color: rgb(105, 82, 71);
    padding: 8px;
    margin: 40px 0 24px 0;
    border-bottom: 1.5px dotted rgb(52, 72, 88);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(105, 82, 71);
    padding: 2px;
    box-shadow: 0 0 10px rgb(199, 199, 199);
    float: right;
    margin: 1rem;
}

p {
    padding: 0px;
}

aside {
    position: relative;
    width: 500px;
    box-shadow: none;
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: none;
}

aside h2 {
    position: absolute;
    left: 70px;
    color: rgb(22, 62, 12);
}

footer {
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selection */

.box {
    border: 1px solid black;    
    margin: 1rem 1rem 0 0;
    padding: 1rem;
    background-color: rgb(202, 174, 161);
    text-decoration: none !important;
    color: rgb(40, 40, 40);
}

/* Grid */

header, .grid, footer {
    width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.intro {
    width: 500px;
    grid-column: 2/5;
    align-items: center;
}

.virginia {
    grid-column: 1/2;
    grid-row: 1/2;
    width: auto;
    height: 450px;
}